// shared
@import "normalize";
@import "base";
@import "helpers";

// components
@import "components/Menu";
@import "components/Footer";
@import "components/NoMatch";
@import "components/Home";
@import "components/LoginPage";
@import "components/ProgramsList";
@import "components/ProgramDetail";
@import "components/LoadingOverlay";

// programs
@import "programs/DUHR/index.scss";

.App {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 140px;
}
