// shared
@import "normalize";
@import "base";
@import "helpers";

// components
@import "Menu";
@import "Footer";
@import "NoMatch";
@import "Home";
@import "ProgramsList";
@import "ProgramDetail";

.App {
    width: 100%;
    min-height: 100vh;
    padding-top: 5px;
    padding-bottom: 140px;
}
